.total{
    display: flex;
    flex-direction: column;
    border: .1rem solid #ccc;
    border-radius: .3rem;
    padding: .3rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin: 1.5rem;
    font-family: "DM Serif Text", serif;
    font-weight: 500;
    font-style: normal;
    gap: 1rem;
    min-width: 30rem;
    max-height: 15rem;
}

.subtotal{
    display: flex;
    justify-content: space-between;
    
}

.total h2{
    font-size: 1.5rem;
}

.container{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.cards{
    display: flex;
    flex-direction: column;
}